<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educagenda</title>
    <link href="style.css" rel="stylesheet">
    
</head>
<body>
    <header class='escola' id="relative">
        <nav>

            <img id="logo" src="../imgs/sbc.png" alt="Brasão de São Bernardo"> 
            <a id="nome" href="../pre-home/pre-home.html" style="text-decoration:none">EDUCAGENDA</a>

            <ul id="menu" class="lado_direito">
                <li><a class="n_atual" href="home_escola.html">Home</a></li>
                <li><a class="n_atual" href="calendario_escola.html">Calendário</a></li>
                <li><a href="atividade_escola.html">Cadastrar atividades</a></li>
                <li><a class="n_atual" href="volante_escola.html">Solicitar volante</a></li>
                <li><a class="n_atual" href="comprovantes_escola.html">Comprovantes</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <h2 id="cad_atv">Cadastrar atividade</h2>
        <div id="esp_atividade">
            <section id="grid_2_centro">
                <div id="formulario_div1">
                    <div class="formLinha2">
                        <input type="number" name="matricula_substituto" placeholder="Matrícula do professor volante" style="height: 25px;">
                        <input type="text" name="nome_professor_substituto" placeholder="Nome do professor volante" style="height: 25px;">
                    </div>
                    <div class= "grid_2">
                        <h4>Data inicial</h4>
                        <h4>Data final</h4>
                    </div>
                    
                    <div class="formLinha2">
                        <input type="date" name="data_inicio" placeholder="Data inicial" style="height: 25px;">
                        <input type="date" name="data_fim" placeholder="Data final" style="height: 25px;">
                    </div>
                    <div class="formLinha1">
                        <select name="periodo" id= "período" class="none" style="height: 25px;">
                            <option value="" disabled selected>Período</option>
                            <option value="Manha">Manhã</option>
                            <option value="Tarde">Tarde</option>
                            <option value="Integral">Integral</option>
                        </select>
                        
                    </div>
                
                    <textarea name="observacao" id="observacao" style="height:130px;" placeholder="Observação"></textarea>
                   
                </div>
                    
                <div id="formulario_div2">
                    <div class="formLinha2">
                        <input type="number" name="matricula" placeholder="Matrícula do prof a ser substituido" style="height: 25px;">
                        <input type="text" name="nome_professor" placeholder="Nome do prof a ser substituido" style="height: 25px;">
                    </div>
                    <div class="formLinha1">
                        <select id= "nome_escola" class="none" style="height: 25px;">
                            <option value="" disabled selected>Nome da escola</option>
                            <option value="A">Escola A</option>
                            <option value="B">Escola B</option>
                            <option value="C">Escola C</option>
                        </select>
                    </div>
                    <div class="formLinha1">
                        <input type="text" name="turma" placeholder="Turma" style="height: 25px; width:100%">
                    </div>
                    <div class="formLinha1">
                        <select name="motivo" id= "Motivo" class="none" style="height: 25px;">
                            <option value="" disabled selected>Motivo</option>
                            <option value="Manhã">F.A.</option>
                            <option value="Doacao_Sangue">Doação de sangue</option>
                            <option value="Isolamento">Isolamento</option>
                            <option value="Juri">Júri</option>
                            <option value="L.T.S">L.T.S.</option>
                            <option value="Nojo">Licença Nojo</option>
                            <option value="P.T.S">P.T.S</option>
                            <option value="T.R.E">T.R.E</option>
                            <option value="Outros">Outros</option>
                        </select>
                    </div>
                    <h4 id="ponta">Anexar comprovante</h4>
                    <button type='submit' name="enviar" class="botao_escola">Enviar</button>
                    <!--<input type="button" id= "botão_volante_escola" value="Selecionar" class="botao_escola">-->
                </div>
                
            </section>
        </div>
        

    </main>
</body>
</html>
