<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educagenda</title>
    <link href="style.css" rel="stylesheet">
    
</head>
<body>
    <header class='escola'>
        <nav>

            <img id="logo" src="../imgs/sbc.png" alt="Brasão de São Bernardo"> 
            <a id="nome" href="../pre-home/pre-home.html" style="text-decoration:none">EDUCAGENDA</a>

            <ul id="menu" class="lado_direito">
                <li><a class="n_atual" href="home_escola.html">Home</a></li>
                <li><a href="calendario_escola.html">Calendário</a></li>
                <li><a class="n_atual" href="atividade_escola.html">Cadastrar atividades</a></li>
                <li><a class="n_atual" href="volante_escola.html">Solicitar volante</a></li>
                <li><a class="n_atual" href="comprovantes_escola.html">Comprovantes</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <div class="formLinha2">
                <input type="number" name="Matrícula" placeholder="Matrícula" style="height: 25px;">
                <input type="text" name="Nome do professor" placeholder="Nome do professor" style="height: 25px;">
            </div>
            <div id="calendario_escola">                
            </div>
            
        </section>

    </main>
</body>
</html>
