<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educagenda</title>
    <link href="style.css" rel="stylesheet">
    
</head>
<body>
    <header class='escola'>
        <nav>

            <img id="logo" src="../imgs/sbc.png" alt="Brasão de São Bernardo"> 
            <a id="nome" href="../pre-home/pre-home.html" style="text-decoration:none">EDUCAGENDA</a>

            <ul id="menu" class="lado_direito">
                <li><a class="n_atual" href="home_escola.html">Home</a></li>
                <li><a class="n_atual" href="calendario_escola.html">Calendário</a></li>
                <li><a class="n_atual" href="atividade_escola.html">Cadastrar atividades</a></li>
                <li><a class="n_atual" href="volante_escola.html">Solicitar volante</a></li>
                <li><a href="comprovantes_escola.html">Comprovantes</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="grid_tres">
            <div class="kanban">
                <div class="titulo_kanban">
                    <h2>Atrasado</h2>
                    
                </div>

                <div class="espaco_kanban">
                    <h3>Espaço para tabela</h3>
                    
                </div>
                
            </div>
            <div class="kanban">
                <div class="titulo_kanban">
                    <h2>À entregar</h2>
                </div>

                <div class="espaco_kanban">
                    <h3>Espaço para tabela</h3>
                </div>
                
            </div>
            <div class="kanban">
                <div class="titulo_kanban">
                    <h2>Entregue recentemente</h2>
                </div>

                <div class="espaco_kanban">
                    <h3>Espaço para tabela</h3>
                    
                </div>
                
            </div>
            
        </section>

    </main>
</body>
</html>
