<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educagenda</title>
    <link href="style.css" rel="stylesheet">
    
</head>
<body>
    <header class='escola'>
        <nav>

            <img id="logo" src="../imgs/sbc.png" alt="Brasão de São Bernardo"> 
            <a id="nome" href="../pre-home/pre-home.html" style="text-decoration:none">EDUCAGENDA</a>

            <ul id="menu" class="lado_direito">
                <li><a href="home_escola.html">Home</a></li>
                <li><a class="n_atual" href="calendario_escola.html">Calendário</a></li>
                <li><a class="n_atual" href="atividade_escola.html">Cadastrar atividades</a></li>
                <li><a class="n_atual" href="volante_escola.html">Solicitar volante</a></li>
                <li><a class="n_atual" href="comprovantes_escola.html">Comprovantes</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="grid">
            <div id="principal">
                <h2>Volantes que atuarão em outras escolas</h2>
                <div id=espaco_tabela_escola>
                    <h3>Espaço para tabela</h3>
                    <input type="button" onclick="location.href='solicitacoes.html'" value="Ver todos" class="botao_simples">
                </div>
            </div>
            <div id="botoes_inicio">
                <input type="button" onclick="location.href='calendario_escola.html'" value="Calendário" class="botao escola_22">
                <input type="button" onclick="location.href='atividade_escola.html'" value="Cadastrar atividades" class="botao escola_22">
                <input type="button" onclick="location.href='comprovantes_escola.html'" value="Solicitar volante" class="botao escola_22">
            </div>
        </section>

    </main>
</body>
</html>
