<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educagenda</title>
    <link href="style_secretaria.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav>

            <img id="logo" src="../imgs/sbc.png" alt="Brasão de São Bernardo"> 
            <h1 id="nome">EDUCAGENDA</h1>

            <ul id="menu" class="lado_direito">
                <li><a href="home.html">Home</a></li>
                <li><a class="n_atual" href="solicitacoes.html">Solicitações</a></li>
                <li><a class="n_atual" href="preciso_volante.html">Preciso de um volante</a></li>
                <li><a class="n_atual" href="escolas.html">Escolas</a></li>
                <li><a class="n_atual" href="comprovantes.html">Comprovantes</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
    
    </main>
</body>
</html>