<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educagenda</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css">
    <link href="style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.fa.min.js"></script>
    <script src="/control/js/escolas.js"></script>   
    <script src="/control/js/classes.js"></script>   
</head>
<body onload="loadSelectEscolas()">
    <header>
        <nav>

            <img id="logo" src="../imgs/sbc.png" alt="Brasão de São Bernardo"> 
            <a id="nome" href="../pre-home/pre-home.html" style="text-decoration:none">EDUCAGENDA</a>

            <ul id="menu" class="lado_direito">
                <li><a class="n_atual" href="home_secretaria.html">Home</a></li>
                <li><a class="n_atual" href="solicitacoes.html">Solicitações</a></li>
                <li><a href="preciso_volante.html">Preciso de um volante</a></li>
                <li><a class="n_atual" href="escolas.html">Escolas</a></li>
                <li><a class="n_atual" href="comprovantes.html">Comprovantes</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="grid_inversa">
            <div id="formulario">
                <h2>Solicitação</h2>
                <form method="POST" action="processa.php">
                    <div class="espaco_volantes_solicitacao">
                        <div class="formLinha1">
                            <select name="esc_codigo" id="sel_esc_codigo" class="none" style="height: 25px;"></select>
                        </div>
                        <div class="formLinha1">
                            <select name="cls_codigo" id="sel_cls_codigo" class="none" style="height: 25px;"></select>
                        </div>
                        <div class= "grid_2">
                            <h4>Data inicial</h4>
                            <h4>Data final</h4>
                        </div>
                        
                        <div class="formLinha2">
                            <input type="date" name="data_inicio" placeholder="Data inicial" style="height: 25px;">
                            <input type="date" name="data_fim" placeholder="Data final" style="height: 25px;">
                        </div>
                        <div class="formLinha1">
                            <select name="motivo" id= "Motivo" class="none" style="height: 25px;">
                                <option value="" disabled selected>Motivo</option>
                                <option value="Manhã">F.A.</option>
                                <option value="Doacao_Sangue">Doação de sangue</option>
                                <option value="Isolamento">Isolamento</option>
                                <option value="Juri">Júri</option>
                                <option value="L.T.S">L.T.S.</option>
                                <option value="Nojo">Licença Nojo</option>
                                <option value="P.T.S">P.T.S</option>
                                <option value="T.R.E">T.R.E</option>
                                <option value="Outros">Outros</option>
                            </select>
                        </div>
                        <textarea name="observacao" id="observacao" style="height:130px;" placeholder="Observação"></textarea>
                    </form>
                    <button type='submit' name="enviar" class="botao_escola">Enviar</button>
                </div>
            </div>
                
            <div id="principal_buscar">
                <h2>Volantes disponíveis</h2>
                <div class=espaco_volantes_solicitacao>
                    <form method="POST" action="processa.php">
                        <div class="formLinha1">
                            <select name="volante" class="none" style="height: 25px;">
                                <option value="" disabled selected>Volante</option>
                                <option value="volante_1">5658 - Volante 1</option>
                                <option value="volante_2">4582 - Volante 2</option>
                                <option value="volante_3">3574 - Volante 3</option>
                                <option value="volante_2">4582 - Volante 4</option>
                                <option value="volante_3">3574 - Volante 5</option>
                            </select>
                        </div>
                        <div class="formLinha1">
                            <select name="escola" id= "nome_escola" class="none" style="height: 25px;">
                                <option value="" disabled selected>Nome da escola</option>
                                <option value="A">Escola A</option>
                                <option value="B">Escola B</option>
                                <option value="C">Escola C</option>
                            </select>
                        </div>
                    </form>
                    <button type='submit' name="enviar" class="botao_escola">Selecionar</button>
                </div>
                
            </div>
            
        </section>

    </main>
</body>
</html>
