<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educagenda</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css">
    <link href="style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.fa.min.js"></script>
    <script src="/control/js/secretaria.js"></script>   
    
</head>
<body onload="loadSolicitacao()">
    <header>
        <nav>

            <img id="logo" src="../imgs/sbc.png" alt="Brasão de São Bernardo"> 
            <a id="nome" href="../pre-home/pre-home.html" style="text-decoration:none">EDUCAGENDA</a>

            <ul id="menu" class="lado_direito">
                <li><a class="n_atual" href="home_secretaria.html">Home</a></li>
                <li><a href="solicitacoes.html">Solicitações</a></li>
                <li><a class="n_atual" href="preciso_volante.html">Preciso de um volante</a></li>
                <li><a class="n_atual" href="escolas.html">Escolas</a></li>
                <li><a class="n_atual" href="comprovantes.html">Comprovantes</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section id="grid_inversa">
            <div id="dados_solicitacao">
                <h2>Solicitação</h2>
                <div class="espaco_volantes">
                    <table>
                        <tr class="even"><td><h3>Nome da escola</h3></td><td id='esc_nome'></td></tr>
                        <tr class="odd"><td><h3>Bairro</h3></td><td id='esc_bairro'></td></tr>
                        <tr class="even"><td><h3>Nome do professor</h3></td><td id='prf_nome'></td></tr>
                        <tr class="odd"><td><h3>Data inicial</h3></td><td id='sol_agenda_inicio'></td></tr>
                        <tr class="even"><td><h3>Data final</h3></td><td id='sol_agenda_termino'></td></tr>
                        <tr class="odd"><td><h3>Período</h3></td><td id='cls_turno'></td></tr>
                        <tr class="even"><td><h3>Turma</h3></td><td id='cls_descricao'></td></tr>
                        <tr class="odd"><td><h3>Motivo</h3></td><td id='sol_motivo'></td></tr>
                        <tr class="even"><td><h3>Comprovante</h3></td><td id='sol_comprovante'></td></tr>
                        <tr class="odd"><td><h3 id="obs">Observações</h3></td id='som_obs'><td></td></tr>
                    </table>
                    <input type='hidden' id='input_sol_agenda_inicio'>
                    <input type='hidden' id='input_sol_agenda_termino'>
                </div>
            </div>
                
            <div id="principal_solicitacao">
                <h2>Volantes disponíveis</h2>
                <div class=espaco_volantes>
                    <table id="grid_volantes_disponiveis">
                        <thead>
                            <th data-column-id="prf_nome">professor</th>
                            <th data-column-id="esc_nome">escola</th>
                            <th data-column-id="esc_bairro">bairro</th>
                        </thead>
                    </table>
                </div>
            </div>
            
        </section>

    </main>
</body>
</html>
