@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Roboto:wght@500;700;900&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0;

}

header {
    position:fixed;
    width: 100%;
    height: auto;
    margin: none;
    padding: 10px;
    text-align: center;
    background-color: #008AD0;
}

nav {
    display: grid;
    grid-template-columns: 5.5% 26.5% 67%;
}


main {
    margin-left: 10%;
    margin-right: 10%;
}

#logo {
    width: 50px;
    height: auto;
    display:flex;
    align-items: left;
    margin: none;

}

#nome{
    font-family: 'Roboto';
    font-size: 50px;
    margin-top: 0;
    margin-bottom: auto;
    margin-top: auto;
    padding-top: 3%;
    align-items: left;
    text-align: left;
    color: white;
}

#menu{
    width: 100%;
    padding: 0;
    padding-left: 0;
    text-align: right;
    padding-top: 0%;
}

#menu li{
    display: inline-block;
    width: auto;
    text-align: center;
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 17px;
    padding-left: 0;
    margin-bottom: auto;
    margin-top: auto;
    padding-top: 1%;
    
}

#menu li a{
    text-underline-position: under;
    padding: 15px;
    color: white;
}

#menu li a:hover{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgba(255, 255, 255, 0.55);
}

.n_atual{
    text-decoration: none;
    text-decoration-color: rgba(255, 255, 255);
}

#grid{
    display: grid;
    grid-template-columns: 60% 39%;
}

#principal{
    margin-top: 130px;
}

#espaco_tabela{

    width: 85%;
    height: 360px;
    margin: 0px;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 139, 208, 0.36);
    border-radius: 5px;

}

#botoes_inicio{
    width: 95%;
    height: 360px;
    margin: 0px;
    margin-top: 180px;
    padding-top: 17px;
    text-align: center;
    grid-template-rows: 33% 33% 33%;
}

.botao {
    margin-bottom: 12%;
    display:flex;
    margin-left: 8%;
    margin-right: 0;
    width:100%;
    height: 90px;
    border-radius: 5px;
    border: none;
    text-align: center; 
    cursor: pointer;
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 20px;
    color: #3E3E3E; 
    justify-content: center;
    white-space: normal;
    transition:all 0.3s ease;
    background-color: rgba(0, 139, 208, 0.22);
    align-items: right;
}

.botao:hover {
    background-color: rgba(0, 139, 208, 0.36);
}

.botao_simples {
    margin-bottom: 12%;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    border: none;
    text-align: center; 
    cursor: pointer;
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 15px;
    color: white; 
    background-color: rgba(0, 139, 208, 0.0);
    margin-top: 275px;
    text-underline-position: under;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.60);
}

h2 {
    color: #3E3E3E; 
    font-family: 'Nunito';
    font-weight: 800;

}

h3 {
    color: white; 
}
