<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educagenda</title>
    <link href="style_pre-home.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav>
            <img id="logo" src="https://www.saobernardo.sp.gov.br/image/layout_set_logo?img_id=1118518&t=1636074205829" alt="Logo de São Bernardo"> 

        </nav>
    </header>
    
    <main>
        <section id = "tipo_user">
            <div id = "secretaria" class="ladoLado">
                <img id="img_secretaria" class="img" src="../imgs/secretaria.png" alt="Prédio simbolizando a Secretaria da Educação">
                <input type="button" onclick="location.href='../secretaria/home_secretaria.html'" value="Secretaria da Educação" class="botao" id="botao_secretaria">  
            </div>
            <div id = "escola" class="ladoLado">
                <img id="img_escola" class="img" src="../imgs/escola.png" alt="Prédio simbolizando escolas municipais">
                <input type="button" onclick="location.href='../secretaria/home_escola.html'" value="Escola municipal" class="botao" id="botao_escola">
            </div>
        </section>
    </main>
</body>
</html>