<div id="pageWrapper">
    <div id="headWrapper">
        <a href="/" class="logo">
            <img src="/view/imgs/logo-1.png" />
        </a>
        <div class="mainToolBox">
        </div>
    </div>
    
    <div id="bodyWrapper">
        <div class="tabsbox">
            <div class="tablerow h40"><nav><div class="nav nav-tabs" id="nav-tab" role="tablist"></div></nav></div>
            <div class="tablerow hFull"><div class="tab-content" id="nav-tabContent"></div></div>
        </div>
    </div>
    <div id="footWrapper">
    </div>
</div>